<!DOCTYPE html>
<html>
    <head>

		<%- include ('./partials/head.ejs') %>
    
	</head>
    <body>

		<%- include ('./partials/header.ejs') %>


        <h1>Gold Inventory Index Page</h1>
<nav>
		<a href="/metals/new">Create New Inventory</a>
</nav>


		<ul>
			<% for(let i = 0; i < metals.length; i++){ %>
				<li>
					<img src=<%= metals[i].image %>>
				<a href="/metals/<%=metals[i].id; %>">
					<p><%= metals[i].name %></p>
					</a>
					<p><%= metals[i].form %></p>
					<p><%= metals[i].weight %><p>
					<p><%= metals[i].price %></p>

					
								
				</li>
			<% } %>
		</ul>


    </body>
</html> 