<!DOCTYPE html>
<html>
    <head>

		<%- include ('./partials/head.ejs') %>
    
	</head>
    <body>

		<%- include ('./partials/header.ejs') %>


        <h1>Gold Inventory Index Page</h1>
<nav>
		<a href="/metals/new">Create New Inventory</a>
</nav>


<div class="container-fluid">
    
    <div class="d-inline-flex justify-content-start flex-wrap .flex-row">
         <% for(let i = 0; i < metals.length; i++){ %>
      <div class="col" >
         
        <div class="card" style="width: 150px;" >
            <img class="card-img-top" src="<%= metals[i].image %>" alt="Card image cap">
            <div class="card-body">
                <a href="/metals/<%=metals[i].id; %>">
                    <p><%= metals[i].name %></p>
                    </a>
                    <p><%= metals[i].form %></p>
                    <p><%= metals[i].weight %><p>
                    <p><%= metals[i].price %></p>
            </div>
          </div>
    
      </div>
              <% } %>
    </div>

  </div>
	
  <%- include ('./partials/footer.ejs') %>
    </body>
</html> 