<!DOCTYPE html>
<html>
    <head>
      
        <%- include ('./partials/head.ejs') %>

    </head>
    <body>
        <h1>Metal show page</h1>

        <img src="<%= metal.image %>">
		<p><%= metal.name %></p>
		<p><%= metal.form %></p>
		<p>Quantity: <%= metal.quantity %></p>
        <p>Weight: <%= metal.weight %></p>
        <p>Price: $<%=metal.price %> </p>
		<p><%=metal.description %></p>


		<a href="/metals/<%=metal.id; %>/edit">Edit</a>

		<form action="/metals/<%= metal.id %>?_method=DELETE" method="POST">
			<button>Delete</button>
		</form>
		<nav>
            <a href="/metals">Back to Index</a>
        </nav>
    </body>
</html>